div{
    margin: 20px;
}

* {
    font-size: 20px;
    font-family: Poppins;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#productMenu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

